/* html {
    font-size: 16px;
  }
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  p {
    margin-top: 1rem;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 1.4rem;
    color: #90A4AE;
  }
  
  .Slider {
    display: block;
    width: 10rem;
    height: 10rem;
    transform: rotate(-90deg);
    cursor: ns-resize;
  }
    .Slider-circle,
    .Slider-bar {
      fill: transparent;
    }
    .Slider-circle {
      stroke: #607D8B;
    }
    .Slider-bar {
      stroke: #00B0FF;
      stroke-dashoffset: 0;
      stroke-dasharray: 0;
    } */